.roboto-global {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
  
.barriecito-regular {
    font-family: "Barriecito", serif;
    font-weight: 200;
    font-style: normal;
}
  
.rubik-iso-regular {
    font-family: "Rubik Iso", serif;
    font-weight: 400;
    font-style: normal;
}
  
.press-start-2p-regular {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
}
  
.kranky-regular {
    font-family: "Kranky", serif;
    font-weight: 400;
    font-style: normal;
}
  
.londrina-sketch-regular {
    font-family: "Londrina Sketch", serif;
    font-weight: 400;
    font-style: normal;
}
  
.chelsea-market-regular {
    font-family: "Chelsea Market", serif;
    font-weight: 400;
    font-style: normal;
}