html, body {
    overflow-x: hidden;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-right: 0 !important;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
  
hr {
    border: 3px solid white;
    border-radius: 3px;
}
