body, p {
  font-family: "Chelsea Market", sans-serif !important;
  color: #d0d0d0;
}


h1, h2 {
  font-family: "Chelsea Market", sans-serif;
  text-shadow: 4x 4x 4x #003556;
}

h1 {
  font-size: 60px !important;
  font-weight: 400;
  color: #0d024c;
}

h2 {
  font-weight: 400;
  font-size: 10px;
}

.story-headline {
  font-size: 50px;
}
